TURRETS_COUNT_INIT = <How many turrets should 'init' create?> # 3
TURRET_0_STELLAR_ACCOUNT = <turret0 stellar-account to receive fees> # XAXA
TURRET_1_STELLAR_ACCOUNT = <turret1 stellar-account to receive fees> # XOXO
TURRET_2_STELLAR_ACCOUNT = <turret2 stellar-account to receive fees> # XEXE
TX_FUNCTION_RUN_URL = <URL where txFunction is hosted> # TBD
TURRET_FEE_DAYS_BR = <Days before a user can reclaim fees from the turret> # 180
XLM_FEE_MIN = <Minimal accepted value for txFunctionFee transaction> # 1
XLM_FEE_MAX = <Maximal accepted value for txFunctionFee transaction> # 10
UPLOAD_DIVISOR = <Divisor used to calculate txFunction upload price txFunctionFee> # 1000
RUN_DIVISOR = <txFuntion runtime is divided by this number to calculate txFee> # 100000
CFW_ACCOUNT_ID = <ID of account where Cloudflare Worker is deployed>
STELLAR_NETWORK = <TESTNET|PUBLIC> # TESTNET
HORIZON_URL = <https://horizon-testnet.stellar.org|https://horizon.stellar.org> # https://horizon-testnet.stellar.org
