TURRETS_COUNT_INIT = <How many turrets should 'init' create?> # 3
TURRET_0_STELLAR_ACCOUNT = <turret0 stellar-account to receive fees> # XAXA
TURRET_1_STELLAR_ACCOUNT = <turret1 stellar-account to receive fees> # XOXO
TURRET_2_STELLAR_ACCOUNT = <turret2 stellar-account to receive fees> # XEXE
CFW_ACCOUNT_ID = <ID of account where Cloudflare Worker is deployed>
STELLAR_NETWORK = <TESTNET|PUBLIC> # TESTNET
HORIZON_URL = <https://horizon-testnet.stellar.org|https://horizon.stellar.org> # https://horizon-testnet.stellar.org
