TURRETS_COUNT_INIT = <How many turrets should 'init' create?> # 3
STELLAR_NETWORK = <TESTNET|PUBLIC> # TESTNET
HORIZON_URL = <https://horizon-testnet.stellar.org|https://horizon.stellar.org> # https://horizon-testnet.stellar.org
