name = "${CFW_NAME}"
type = "javascript"
account_id = "${CFW_ACCOUNT_ID}"
workers_dev = true
kv_namespaces = [
   { binding = "META", id = "${META}", preview_id = "${META}" },
   { binding = "TX_FUNCTIONS", id = "${TX_FUNCTIONS}", preview_id = "${TX_FUNCTIONS}" },
   { binding = "TX_FEES", id = "${TX_FEES}", preview_id = "${TX_FEES}" },
]
vars = { STELLAR_NETWORK = "${STELLAR_NETWORK}", HORIZON_URL = "${HORIZON_URL}", TURRET_ADDRESS = "${TURRET_ADDRESS}", TX_FUNCTION_RUN_URL = "${TX_FUNCTION_RUN_URL}", TURRET_FEE_DAYS_BR = ${TURRET_FEE_DAYS_BR}, XLM_FEE_MIN = ${XLM_FEE_MIN}, XLM_FEE_MAX = ${XLM_FEE_MAX}, UPLOAD_DIVISOR = ${UPLOAD_DIVISOR}, RUN_DIVISOR = ${RUN_DIVISOR} }

[build]
command = "[ -L dist ] || ln -s ../dist dist"
[build.upload]
format = "modules"
main = "./index.mjs"
[[build.upload.rules]]
type = "Text"
globs = ["**/*.txt"]
