name = "${CFW_NAME}"
type = "javascript"
account_id = "${CFW_ACCOUNT_ID}"
workers_dev = true
kv_namespaces = [
   { binding = "META", id = "${CFW_META}" },
   { binding = "TX_FUNCTIONS", id = "${CFW_TX_FUNCTIONS}" },
   { binding = "TX_FEES", id = "${CFW_TX_FEES}" },
]
vars = { # {{{1
  STELLAR_NETWORK = "${STELLAR_NETWORK}", 
  HORIZON_URL = "${HORIZON_URL}", 
  TURRET_ADDRESS = "${TURRET_ADDRESS}", 
  TURRET_RUN_URL = "${TURRET_FUNCTION_RUNNER_URL}", 
  TX_FUNCTION_FEE_DAYS_TTL = ${CFW_TX_FUNCTION_FEE_DAYS_TTL}, 
  XLM_FEE_MIN = ${CFW_XLM_FEE_MIN}, 
  XLM_FEE_MAX = ${CFW_XLM_FEE_MAX}, 
  UPLOAD_DIVISOR = ${CFW_UPLOAD_DIVISOR}, 
  RUN_DIVISOR = ${CFW_RUN_DIVISOR} 
} # }}}1

[build]
command = "npm i && npm run build"
[build.upload]
format = "modules"
main = "../dist/index.mjs"
[[build.upload.rules]]
type = "Text"
globs = ["**/*.txt"]
